body > *{
    width: 80%;
    margin: auto;
}
header{
    background-color: #e579e6;
    height: 80px;
    margin-bottom: 2%;
}
.main-top{
    background-color: #e1d67a;
    height: 240px;
    margin-bottom: 2%;
}