body > *{
    width: 80%;
    margin: auto;
}
header{
    background-color: #e579e6;
    /* Da rimuovere la height */
    height: 100px;
    margin-bottom: 2%;
}
.section-1{
    background-color: #e1d67a;
    /* Da rimuovere la height */
    height: 400px;
    margin-bottom: 2%;
}
.section-2{
    background-color: #0086ff;
}
.box-1{
    background-color: #abcfe7;
    margin-bottom: 2%;
}
.top-box{
    /* Da rimuovere la height */
    height: 60px;
}
.conteiner-1::after{
    content: "";
    clear: both;
    display: table;
}
.conteiner-1 div{
    float: left;
    /* Da rimuovere la height */
    height: 500px;
}
.lateral-box{
    width: 20%;
}
.middle-box{
    width: 58%;
}
.margin-r{
    margin-right: 0.5%;
}
.margin-l{
    margin-left: 0.5%;
}    
footer{
    background-color: #8801fe;
    /* Da rimuovere la height */
    height: 50px;
    margin-top: 0.5%;
}